<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
<footer>
<div class="has-text-centered">
   <a href="/"> Home |</a><a href="#"> Quem Somos |</a><a href="#"> Serviços |</a><a href="#"> Contato</a>
</div>
</footer>
