:root {
    --blue: #4169e1;
    --medblue: #0000cd;
    --orange: #FE9410;
    --medorange: #e67300;
    --white: #ffffff;
    --black: #000;
}

.lista {
    height: 100vh;
    overflow: auto;
}

.interactive-bg {
    height: 100vh;
    background: var(--blue);
    -webkit-box-shadow: inset 24px 4px 64px -24px rgba(71, 71, 71, 1);
    -moz-box-shadow: inset 24px 4px 64px -24px rgba(71, 71, 71, 1);
    box-shadow: inset 24px 4px 64px -24px rgba(71, 71, 71, 1);
    padding: 0px;
}

@media (max-width: 769px) {
    .interactive-bg {
        display: none
    }
}

.input {
    border-radius: 50px;
}

.button {
    margin-top: 20px;
    margin-bottom: 20px;
    min-width: 150px;
}

.login-logo {
    margin: 0 auto;
    margin-bottom: 50px;
    max-height: 100px;
}

.columns {
    margin: 0px;
}

.bg-img {
    background-image: url(/img/sample.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: cover;
    background-size: cover;
    background-color: #999;
}