<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <title>Cadastro/title>
</head>
<body>
    <div class="container">
        <%- include partials/header.ejs %>
        <div>
            <h1>CADASTRO</h1>
            <form action="">
                <label for="nome">Nome:</label>
                <input type="text" />
                <label for="email">E-mail:</label>
                <input type="email" />
                <label for="senha">Senha:</label>
                <input type="senha" />
                <input type="button" name="criar" id="" label="Criar Conta" />
            </form>
        </div>
      <footer>
        <%- include partials/footer.ejs %>
      </footer>
    </div>
</body>
</html>