<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="../admin">
                    <span data-feather="home"></span>
                    Principal
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./inscritos">
                    <span data-feather="users"></span>
                    Usuários
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="file-text"></span>
                    Relatórios
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="thumbs-up"></span>
                    Enquetes
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="message-square"></span>
                    Fale Conosco
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="user"></span>
                    Palestrantes
                </a>
            </li>
        </ul>

    </div>
</nav>