/* cor principal: #FE9410 */

div{
    width: 20%;
}

.branco{
    background: #FE9410;
    width: 100%;
    border-radius: 50px;
    padding: 15px;
    color: white;
    border: 0px;
    outline: 0;
    font-weight: 600;
}

.preto{
    background: #FE9410;
    width: 100%;
    border-radius: 50px;
    padding: 15px;
    color: black;
    border: 0px;
    outline: 0;
    font-weight: 600;
}

button{
    margin: 1px;
}